<div class="position-absolute float-fullscreen">
  <button
    class="btn btn-outline-secondary upi-button me-1"
    placement="top"
    ngbTooltip="Reload frame (CTRL+R)"
    (click)="reloadFrame()"
  >
    <i class="bi bi-arrow-clockwise"></i>
  </button>
  <button
    class="btn btn-outline-secondary upi-button position-relative"
    placement="top"
    ngbTooltip="Fullscreen (CTRL + ')"
    (click)="fullScreenPreview()"
  >
    <i class="bi bi-fullscreen fullscreen-preview"></i>
  </button>
</div>
<iframe [src]="url" frameborder="0" id="preview"></iframe>
